<div class="login-body">
    <div class="login-topbar">
        <a href="#" class="logo">
            <img src="assets/layout/images/logo.png" alt="california-layout"/>
        </a>
    </div>

    <img class="login-image" src="assets/layout/images/image-access.png" alt="california-layout" />

    <div class="login-panel p-fluid">
        <div class="p-grid">
            <div class="p-col-12 login-icon-container">
                <img class="login-icon" src="assets/layout/images/icon-login.png" alt="california-layout" />
            </div>
            <div class="p-col-12 p-lg-12 p-md-12 logo-container">
                <span class="login-summary">Sign in to California</span>
                <div class="login-detail">
                    <span>Welcome, please use the form to sign-in network.</span>
                </div>
            </div>
            <div class="p-col-12 p-lg-12 p-md-12">
                <div class="input-wrapper">
                    <label>E-mail address</label>
                    <input type="text" autocomplete="off" placeholder="E-mail" pInputText>
                </div>
            </div>
            <div class="p-col-12 p-lg-12 p-md-12">
                <div class="input-wrapper">
                    <label>Password</label>
                    <input type="password" autocomplete="off" placeholder="Password" pInputText>
                </div>
            </div>
            <div class="p-col-12 p-lg-12 p-md-12 chkbox-container">
                <div class="remember-me">
                    <input type="checkbox" class="p-chkbox p-chkbox-box">
                    <span>Remember me</span>
                    <a href="#">Reset Password</a>
                </div>
            </div>
            <div class="p-col-12 p-lg-12 p-md-12 button-container">
                <button type="button" pButton label="Sign In" [routerLink]="['/']"></button>
            </div>
        </div>
    </div>
</div>
