<div class="layout-topbar">
    <a class="logo" href="/">
        <img src="assets/layout/images/logonew.ico" alt="tmo-logo"/>
    </a>
    <a id="menu-button" href="#" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-align-left"></i>
    </a>

    <!--<a id="topbar-menu-button" href="#" (click)="appMain.onTopbarMenuButtonClick($event)" *ngIf="app.profileMode==='top' || appMain.isHorizontal()">
        <img src="assets/layout/images/avatar.png" alt="california-layout">
        <span>Güner Harrell</span>
    </a> -->

    <ul  id="topbar-usermenu" class="usermenu usermenu-overlay fadeInDown" [ngClass]="{'usermenu-active': appMain.topbarMenuActive}">
        <li #profile [ngClass]="{'menuitem-active':appMain.activeTopbarItem === profile}">
            <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                <i class="pi pi-fw pi-user"></i>
                <span class="topbar-item-name">Profil</span>
            </a>
        </li>
    </ul>

    <a id="right-sidebar-button" href="#" (click)="appMain.onRightPanelButtonClick($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>
</div>
