<div id="layout-right-sidebar" [ngClass]="{'layout-right-sidebar-active': app.rightPanelActive}"
     (click)="app.onRightPanelClick()">
    <div class="right-panel-scroll-content">
        <p-tabView>
            <p-tabPanel leftIcon="pi pi-star">
                <div class="submenu-title">
                    <span>Mini Menü</span>
                </div>
                <div class="submenu-content settings">
                    <div class="p-grid">
                        <div class="order-settings p-col-6">
                            <i class="pi pi-plus"></i>
                            <span>YENİ ÜRÜN</span>
                        </div>
                        <div class="sales-settings p-col-6">
                            <i class="pi pi-chart-line"></i>
                            <span>TOPLAM SATIŞLAR</span>
                        </div>
                        <div class="shipment-settings p-col-6">
                            <i class="pi pi-compass"></i>
                            <span>DEPO DURUMU</span>
                        </div>
                        <div class="history-settings p-col-6">
                            <i class="pi pi-refresh"></i>
                            <span>SATIŞ GEÇMİŞİ</span>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
