<div class="dashboard">
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-4">
            <div class="overview-box monthly-sales">
                <div class="overview-title">SATIŞLAR</div>
                <i class="pi pi-arrow-circle-up"></i>
                <div class="overview-numbers">
                    <strong>Kg 22,650</strong>
                </div>
                <div class="overview-ratios">satışlar satışlar..</div>
                <img src="assets/layout/images/icon-sales.png" alt="california-layout" />
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-lg-4">
            <div class="overview-box monthly-views">
                <div class="overview-title">STOK
                    <i class="pi pi-arrow-circle-up"></i>
                </div>
                <div class="overview-numbers">
                    <strong>6215</strong>/Kg</div>
                <div class="overview-ratios">stok stok stok..</div>
                <img src="assets/layout/images/icon-views.png" alt="california-layout" />
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-lg-4">
            <div class="overview-box monthly-users">
                <div class="overview-title">MAĞAZALAR
                    <i class="pi pi-arrow-circle-up"></i>
                </div>
                <div class="overview-numbers">
                    <strong>55</strong>/Mağaza</div>
                <div class="overview-ratios">mağaza mağaza </div>
                <img src="assets/layout/images/icon-users.png" alt="california-layout" />
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="stats">
                <div class="stats-icon">
                    <img src="assets/layout/images/icon-doc.png" alt="california-layout" class="doc-icon" />
                </div>
                <div class="stats-numbers">150</div>
                <div class="stats-title">Unread Messages</div>
                <div class="stats-subtitle">You stared
                    <span>5</span> messages today</div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="stats">
                <div class="stats-icon">
                    <img src="assets/layout/images/icon-doc.png" alt="california-layout" class="doc-icon" />
                </div>
                <div class="stats-numbers">532</div>
                <div class="stats-title">Files Synced</div>
                <div class="stats-subtitle">
                    <span>21%</span> more than yesterday</div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="stats">
                <div class="stats-icon">
                    <img src="assets/layout/images/icon-doc.png" alt="california-layout" class="doc-icon" />
                </div>
                <div class="stats-numbers">450</div>
                <div class="stats-title">Check-ins</div>
                <div class="stats-subtitle">
                    <span>12%</span> less than yesterday</div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="stats">
                <div class="stats-icon">
                    <img src="assets/layout/images/icon-doc.png" alt="california-layout" class="doc-icon" />
                </div>
                <div class="stats-numbers">974</div>
                <div class="stats-title">Users Online</div>
                <div class="stats-subtitle">
                    <span>35210</span> total page view today</div>
            </div>
        </div>



    </div>
</div>
